<section>
  <h3>Observations</h3>
  <ul>
    <li>The best way to make dreams come true is to wake up.<br/> ~Mae C. Jemison</li>
    <li>Tact is the art of making a point without making an enemy.<br/>~Isaac Newton</li>
    <li>Find a need and fulfill it. Successful businesses are founded on the needs of people.<br/>~A. G. Gaston</li>
    <li>It's kind of fun to do the impossible.<br/>~Walt Disney</li>
    <li>If one ox could not do the job they did not try to grow a bigger ox, but used two oxen. When we need greater computer power, the answer is not to get a bigger computer, but to build systems of computers and operate them in parallel.<br/>~Grace Hopper</li>
    <li>A person with a new idea is a crank until the idea succeeds.<br/> ~Mark Twain</li>
    <li>My over arching framework is 1) Pure appreciation. 2) Spend time with good people. 3) Leave the world a little better.<br/>~Mellody Hobson</li>
    <li>Everybody told me no at first, including my wife. I turned the nos into yeses and the disadvantages into advantages.<br/>~John H.  Johnson</li>
    <li>I would have been fired a hundred times at a company run by MBAs. But I never went into business to make money. I went... so that I could do interesting things that hadn't been done before.<br/>~Amar Bose</li>
    <li>Don't undertake a project unless it is manifestly important and nearly impossible.<br/>~Edwin Land</li>
  </ul>
</section>
