<section>
  <h3>Social Media</h3>
		<ul class="social" id="css3">
			<li class="twitter">
				<a href="http://twitter.com/rayhightower"><strong>Twitter</strong></a>
			</li>
			<li class="github">
				<a href="http://www.github.com/rayhightower"><strong>GitHub</strong></a>
			</li>
			<li class="linkedin">
				<a href="http://www.linkedin.com/in/rayhightower"><strong>LinkedIn</strong></a>
			</li>
			<li class="vimeo">
				<a href="http://vimeo.com/chicagoruby"><strong>Vimeo</strong></a>
			</li>
		</ul>
    <p>&nbsp;<br/>&nbsp;</p>
</section>
