<section>
  <h1>Speaking</h1>
  <ul>
    <li><a href="http://in5.ae/">in5 hub Innovation Hub</a><br/>in Dubai, UAE</li>
    <li><a href="https://www.eventbrite.com/e/devnights-robot-tickets-15433389684">DevNights at The Cribb</a><br/>in Dubai, UAE</li>
    <li><a href="http://rubyfuza.org/">Rubyfuza</a><br/>in Cape Town, South Africa</li>
    <li><a href="http://www.meetup.com/nodejs/events/206159562/">NYC Node JS Meetup</a><br/>in New York, NY</li>
    <li><a href="http://www.meetup.com/Chicago-Nodejs/events/177556202">Chicago Node.js</a><br/>in Chicago, IL</li>
    <li><a href="https://www.eventbrite.com/e/cloudcamp-chicago-developer-night-registration-11736697779">CloudCamp Chicago - Developer Night</a><br/>in Chicago, IL</li>
    <li><a href="http://LinuxBarbados.org">LinuxBarbados</a><br/>at University of the West Indies<br/>at Cave Hill, Barbados</li>
    <li><a href="http://flourishconf.com/2014/">Flourish Open Source Conference</a><br/>at University of Illinois at Chicago</li>
    <li><a href="http://www.meetup.com/Chicago-RubyMotion/events/143412442/">Chicago RubyMotion</a> at DevBootcamp<br/>in Chicago, IL</li>
    <li><a href="http://chippewavalleycodecamp.com/">Chippewa Valley Code Camp</a><br/>in Eau Claire, WI</li> 
    <li><a href="/blog/2012/10/29/building-ios-apps-with-ruby-motion/">Aloha Ruby</a> in Honolulu, HI</li>
    <li><a href="/blog/2012/10/29/building-ios-apps-with-ruby-motion/">Magic Ruby</a> in Orlando, FL</li>
  </ul>
</section>
